/*-- scss:defaults --*/

// colors
$body-color: #4f4f4f !default;
$link-color: #004370 !default;

p{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    font-style:normal;
    line-height:1.5;
    text-align:left;
    text-align:start;
    font-size:0.875em;
    color: #4f4f4f
}




.cell {font-size:.8em;color:inherit;word-break:normal}

// headers
h1 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:2.125rem;
    color: #292929;
  }

h2 {
    font-size:2rem;
    color: #292929;
  }
h3{
    font-size:1.75rem;
    color: #292929;
  }
h4 {
    font-size:1.5rem;
    color: #292929;
  }

::selection {
    color: white;
    background: #154973;
  }